<header>
        <h1>Welcome to Panda Company</h1>
        <img src="/images/panda-logo.png" width="500" alt="Hello Panda Web Programming">

        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/show">Show Employees</a></li>
            <li><a href="/form">Form</a></li>
        </ul>
    </header>