<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Instructor Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 24px;
        }

        th {
            background-color: lightblue;
            text-align: left;
        }
        
        table{
            width: 100%;
        }
        
        table,
        th,
        td {
            border-bottom: 1px solid lightgray;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>Instructor Data</h1>
    <!-- สร้างตารางสำหรับแสดงข้อมูล -->
    <!-- EJS Syntax -->
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
    <%data.forEach((item)=>{ %>
    <tr>
        <td><%= item.ID %></td>
        <td><%= item.name %></td>
        <td><%= item.dept_name %></td>
        <td><%= item.salary %></td>
    </tr>

    <% }); %>

</body>

</html>