body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
}


.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}


@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
}