body{
    font-family: "Flexo-Regular", arial, sans-serif;
}

nav{
    background-color: #333;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 0 15px;
}

nav div{
    margin-left: auto;
    background-color: green;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
}

.album {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    height: 70vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 5px solid #000;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* height: auto; */
}