body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

.menu a {
    color: white;
    text-decoration: none;
    
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
}

th{
    text-align: left;
    border-bottom: 1px solid black;    
}
td{
    border: 1px solid black;
}