body{
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.header {
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header button {
    padding: 10px;
    height: fit-content;
    /* margin-left: auto; */
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}

form {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

input , textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    height: fit-content;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}

.odd-row {
    background-color: lightgray;
}