body{
    font-family: "Flexo-Regular", arial, sans-serif;
    background-color: bisque;
}

.album {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,45vh);
    gap: 20px;
    /* height: 90vh; */
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #000;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.card img {
    margin: 10px;
    height: 80%;
    object-fit: cover;
    /* height: auto; */
}

.card a{
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

@media screen and (max-width: 1000px) {
    .album {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,45vh);
    }    
}
@media screen and (max-width: 768px) {
    .album {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6,45vh);
    }
}

.recipe-box{
    padding: 0 10vh 0 15vh;
    display: flex;
    flex-direction: row;
}

.recipe-image{
    padding: 0.5vh;
    width: 70vh;
    height: 70vh;
    overflow: hidden;
    background-color: white;
}

.recipe-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-detail{
    font-size: large;
    margin-left: 40px;
    width: 85vh;

}

@media screen and (max-width: 1000px) {
    .recipe-box{
        flex-direction: column;
        padding: 0 5vh 0 5vh;
    }
    
    .recipe-image{
        width: 100%;
        height: auto;
    }

    .recipe-detail{
        margin-left: 0;
    }
}