body{
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #f8f8f8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: royalblue;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid lightgray;
}

td{
    padding: 10px 5px 10px;
    border: 1px solid lightgray;
}

.odd-row {
    background-color: lightgray;
}