<h1>ระบบติดตามสินค้า</h1>
    <form action="/add" method="POST">
        <input type="text" id="customer" name="customer" placeholder="ชื่อลูกค้า">
        <input type="text" id="product" name="product" placeholder="รายการสินค้า">
        <input type="text" id="address" name="address" placeholder="ที่อยู่">
        <input type="text" id="tel" name="tel" placeholder="เบอร์โทรศัพท์">
        <button type="submit">เพิ่มคำสั่งซื้อ</button>
    </form>