body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 24px;
}
table{
    width: 95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

th, td{
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

button{
    background-color: green;
    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

table button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.header_form div{
    display: flex;
    align-items: left;
    gap: 2vw;
    margin-top: 10px;
}

.header_form input[type="text"]{
    padding: 5px;
    width: 30vw;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

.header_form button{
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 10vw;
    min-width: fit-content;
    padding: 5px 10px;
    font-size: 16px;
}