body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 24px;
}
table{
    width: 95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

th, td{
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

button{
    background-color: green;
    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

table button{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
