body {
    font-family: "Bpmf Huninn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.product-card p {
    flex-grow: 1;
    font-size: 14px;
    margin-top: 0;
    color: #666;
}

.product-card button {
    margin-top: auto;
    padding: 10px;
    width: 50%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.product-detail {
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    overflow: hidden;
}

.product-detail img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.product-detail h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.product-detail .description{
    flex-grow: 1;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

.product-detail button {
    margin-top: auto;
    padding: 10px;
    width: fit-content;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

