body{
    font-family: sans-serif; padding: 20px;
}

h1 { 
    margin-bottom: 10px;
    padding:20vh 40vw 0 29vw;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding:0 35vw 0 32vw;
    width: 100%;
    max-width: 500px;
    gap: 2px;
}

.day {
    border: 2px solid black;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.header {
    border: 0px;
    font-weight: bold;
    background-color: white;
    height: 40px;
}

.inactive {
    background-color: #b0c4de;
    color: red;
}